body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  min-height: 99vh;
  flex-flow: column wrap;
  margin: 5px;
  background: #22313f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

header {
  margin: 15px;
  font-size: 30px;
  font-weight: bolder;
  color: #e4f1fe;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 25px white;
  max-width: 1000px;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background: #34495e;
  border: none;
  border-radius: 14px;
}

.recImg {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #8dc6ff;
  border-radius: 12px;
  box-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 10px white;
  max-width: 90%;
  height: auto;
}

a {
  color: white;
  font-size: 22px;
}

.description {
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  color: #e4f1fe;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.descText {
  font-size: 25px;
  max-width: 1000px;
}

ul {
  margin: 15px;
  font-size: 22px;
  color: #e4f1fe;
  max-width: 1000px;
}

.directions {
  margin: 10px;
  margin-left: 25px;
  margin-right: 25px;
  color: #e4f1fe;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  font-size: 20px;
  gap: 50px;
}

ol {
  max-width: 500px;
}

.dirImgs {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  max-width: 45%;
  height: auto;
}

.blurb {
  font-size: 22px;
  color: #e4f1fe;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: auto;
  color: #e4f1fe;
}

.footerLogo {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  filter: invert(1);
}

@media (max-width: 1100px) {
  .descText {
    max-width: 850px;
  }
  ul {
    max-width: 850px;
  }
  ol {
    max-width: 450px;
  }
}

@media (max-width: 800px) {
  .descText {
    max-width: 750px;
  }
  ul {
    max-width: 750px;
  }
  ol {
    max-width: 350px;
  }
}

@media (max-width: 600px) {
  .descText {
    max-width: 550px;
  }
  ul {
    max-width: 550px;
  }
  ol {
    max-width: 300px;
  }
}

@media (max-width: 450px) {
  .descText {
    max-width: 325px;
  }
  ul {
    max-width: 325px;
  }
  .dirImgs {
    max-width: 90%;
  }
  ol {
    max-width: 325px;
  }
}
